<div class="col-md-8">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3>Profile</h3>
        </div>
        <div class="card-body">

            <div th:if="${user.role.name() == 'USER'}"
                 if="${vacations.empty}" class="alert alert-info">
                You have no upcoming vacations. <a href="@{/vacation}">Plan one now!</a>
            </div>


            <div each="vacation : ${vacations}" class="mb-3">
                <h5 text="${vacation.destination.name}">Vacations</h5>
                <p>
                    <strong>Dates:</strong>
                    <span text="${#temporals.format(vacation.startDate, 'MMM dd, yyyy')}">Start Date</span> -
                    <span text="${#temporals.format(vacation.endDate, 'MMM dd, yyyy')}">End Date</span>
                </p>
                <a href="@{/vacation/details/{id}(id=${vacation.id})}" class="btn btn-primary btn-sm">View Details</a>
            </div>
        </div>
    </div>
</div>